SECRET_KEY=sua-secret-key-aqui
DEBUG=True

JWT_SECRET_KEY=sua-secret-key-aqui
JWT_ALGORITHIM=HS256
JWT_EXP_MINUTES=3seu-exp-minutes-aqui
JWT_EXP_DAYS=seu-exp-days-aqui

DB_USER=seu-db-user-aqui
DB_PASSWORD=seu-db-password-aqui
DB_NAME=seu-db-name-aqui
DB_PORT=seu-db-port-aqui

CELERY_BROKER_URL=sua-url-redis-aqui

WAHA_BASE_URL=sua-conexao-waha-aqui
WAHA_SESSION=sua-session-default-aqui

WAHA_API_KEY=sua-api-key-aqui

WAHA_DASHBOARD_USERNAME=
WAHA_DASHBOARD_PASSWORD=
WHATSAPP_SWAGGER_USERNAME=
WHATSAPP_SWAGGER_PASSWORD=
WHATSAPP_DEFAULT_SESSION=
WHATSAPP_START_SESSION=
